
.title {
	text-align: center;
    text-transform: uppercase;
    margin-bottom: 55px;
    h2 {
    	font-size: 25px;
    	line-height: initial;
    	font-weight: bold;
    }
    span {
    	position: relative;
    	display: inline-block;
    	&:after {
    		content: "";
    		width: 135px;
	        height: 1px;
		    background: #409dca;
		    position: absolute;
		    right: 30px;
		    bottom: -15px;
    	}
    	&:before {
    		content: "";
    		width: 100px;
	        height: 1px;
		    background: #409dca;
		    position: absolute;
		    right: 30px;
		    bottom: -25px;
    	}
    	&.t-video {
    		color: #fff;
    		&:after, &:before {
    			right: 0;
    			background: $yellow;
    		}
    	}
    }
    @media (max-width: 767px) {
    	margin-bottom: 15px;
    	h2 {
    		font-size: 20px;
    	}
    	span {
    		&:after, &:before {
    			display: none;
    		}
    	}
    }
}
.btn-pages {
	a {
		display: inline-flex;
	    height: 38px;
	    padding: 0 25px;
	    background: $yellow;
	    align-items: center;
	    border-radius: 8px;
	    border: 1px solid $yellow;
	    color: #fff;
	    box-shadow: -1px 2px 8px #706d6d;
	    &:hover {
	    	color: $yellow;
	    	background: #fff;
	    }
	}
}
.box-about {
	padding: 40px 0;
}
.txt-about {
	.desc {
		line-height: 2.4;
	}
	@media (max-width: 1023px) {
		margin-bottom: 30px;
		.desc {
			line-height: 1.5;
		}
	}
	@media (max-width: 767px) and (min-width: 576px) {
		margin-bottom: 0;
	}
}
.info-txt {
	padding: 25px 15px;
	ul {
		list-style: none;
		position: relative;
		padding-left: 25px;
		&:after {
			content: "";
		    width: 10px;
		    height: 100%;
		    background: $yellow;
		    position: absolute;
		    top: 0;
		    left: 0;
		    border-radius: 200px;
		}
		li {
			margin-bottom: 8px;
			&:last-child {
				margin-bottom: 0;
			}
			span {
				color: $red;
			}
		}
	}
	@media (max-width: 767px) {
		.info-txt {
			padding: 15px 0;
		}
	}
}

.box-srv {
	padding: 40px 0;
	color: #fff;
}
.item-srv {
	.icon {
		margin-bottom: 25px;
		img {
			max-height: 110px;
		}
	}
	.info {
		h2 {
			font-size: 25px;
		    font-weight: bold;
		    line-height: initial;
		    margin-bottom: 10px;
		}
	}
	@media (max-width: 1023px) {
		.icon {
			img {
				max-height: 80px;
			}
		}
		.info {
			h2 {
				font-size: 18px;
			}
		}
	}
	@media (max-width: 767px) {
		.icon {
			img {
				max-height: 60px;
			}
		}
		.info {
			h2 {
				font-size: 16px;
			}
		}
	}
	@media (max-width: 575px) {
		border: 1px solid #ddd;
		padding: 15px;
		border-radius: 5px;
	}
}
.list-srv {
	.row {
		margin: 0 -25px;
		>div {
			padding: 0 25px;
		}
	}
	@media (max-width: 1023px) {
		.row {
			margin: 0 -7px;
			>div {
				padding: 0 7px;
			}
		}
	}
	@media (max-width: 575px) {
		.row {
			>div {
				margin-bottom: 15px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
.box-product {
	padding: 40px 0;
}
.item-prd {
	.avarta {
		overflow: hidden;
		border-radius: 10px;
		img {
			width: 100%;
			transition: .5s all !important;
			&:hover {
				transform: scale(1.06);
			}
		}
	}
	.info {
		padding: 10px 0 0 0;
		font-weight: bolder;
		a {
			display: block;
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 5px;
		}
		span {
			color: $red;
		}
	}
}
.tab-content {
	display: none;
	&.active {
		display: block;
	}
}
.list-prd {
	.row {
		margin: 0 -25px;
		>div {
			padding: 0 25px;
		}
	}
	.col-md-3 {
		margin-bottom: 30px;
	}
	@media (max-width: 1023px) {
		.row {
			margin: 0 -7px;
			>div {
				padding: 0 7px;
			}
		}
	}
	@media (max-width: 767px) {
		.col-md-3 {
			margin-bottom: 15px;
		}
	}
}
.list-tab-prd {
	margin-bottom: 30px;
	ul {
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: center;
		li {
			padding: 0 10px;
		}
	}
	a {
		color: #484848;
		display: inline-flex;
		height: 36px;
		border-radius: 10px;
		border: 1px solid #484848;
		align-items: center;
		padding: 0 15px;
		font-weight: bold;
		&.active {
			border: 1px solid $yellow;
			background: $yellow;
			color: #fff;
		}
	}
	@media (max-width: 767px) {
		ul {
			li {
				padding: 0 5px;
			}
		}
		a {
			padding: 0 5px;
			font-weight: normal;
		}
	}
}

.item-service {
    margin-bottom: 20px;
    font-size: 22px;
    &:last-child {
        margin-bottom: 0;
    }
    h3 {
        line-height: initial;
        font-weight: bold;
        color: $yellow;
        font-size: 22px;
    }
    .desc {
        padding: 20px 0 35px 0;
    }
    &:nth-child(2n) {
        .col-md-6:first-child {
            order: 2;
        }
        .col-md-6:last-child {
            order: 1;
        }
    }
    @media (max-width: 1023px) {
    	font-size: 16px;
    	h3 {
    		font-size: 16px;
    	}
    	.desc {
    		padding: 15px 0;
    	}
    }
    @media (max-width: 767px) {
    	font-size: 14px;
    	h3 {
    		font-size: 14px;
    	}
    }
    @media (max-width: 575px) {
    	margin-bottom: 30px;
    	.avar-serv {
    		margin-top: 15px;
    	}
    	&:nth-child(2n) {
	        .col-md-6:first-child {
	            order: 1;
	        }
	        .col-md-6:last-child {
	            order: 2;
	        }
	    }
    }
}
.box-serice {
    padding: 0 0 40px 0;
}
.item-new-home {
	overflow: hidden;
	background: #fff;
	border-radius: 10px;
	&:hover {
		.info {
			background: $yellow; 
			color: #fff;
			a {
				color: #fff;
			}
		}
		.avarta {
			img {
				transform: scale(1.05);
			}
		}
	}
	.row {
		margin: 0 -0.5px;
		>div {
			padding: 0 0.5px;
		}
	}
	&:nth-child(2n + 1) {
		.col-md-6:first-child {
			order: 2;
		}
		.col-md-6:last-child {
			order: 1;
		}
	}
	.info {
		padding: 15px;
		border-radius: 10px;
		height: 100%;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    background: #f0efef;
	    a {
	    	font-size: 16px;
	    	display: block;
	    	margin-bottom: 10px;
	    	font-weight: bold;
	    }
	}
	.avarta {
		border-radius: 10px;
		overflow: hidden;
		img {
			transition: .4s all !important;
		}
	}
	@media (max-width: 767px) {
		.desc {
			display: none;
		}
	}
	@media (max-width: 575px) {
		margin-bottom: 15px;
		&:nth-child(2n + 1) {
			.col-md-6:first-child {
				order: 1;
			}
			.col-md-6:last-child {
				order: 2;
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
		.info {
			background: transparent !important;
			padding: 0 0 0 10px;
			a {
				text-align: left;
			    color: #000000;
			    font-weight: 500;
			    font-size: 14px;
			    line-height: 1.5;
			    margin: 0;
			}
		}
	}
}
.box-new-home {
	padding: 40px 0;
	.btn-pages {
		padding: 40px 0 0 0;
	}
	@media (max-width: 575px) {
		.btn-pages {
			padding: 15px 0 0 0;
		}
	}
}
.slide-video-home {
	margin: 0 -25px;
	.item-slide {
		padding: 0 25px;
	}
	@media (max-width: 1023px) {
		margin: 0 -7px;
		.item-slide {
			padding: 0 7px;
		}
	}
}
.item-video {
	.avarta {
		overflow: hidden;
		border-radius: 10px;
		display: flex;
	    align-items: center;
	    justify-content: center;
	}
	iframe {
		width: 100%;
		height: 292px;
	}
	.info {
		padding: 10px 0 0 0;
		a {
			display: block;
			font-size: 16px;
			font-weight: bold;
			color: #fff;
		}
	}
	@media (max-width: 1023px) {
		.avarta {
			iframe {
				height: 180px;
			}
		}
	}
}
.box-video {
	padding: 40px 0;
	background: #212121;
	.slick-dots {
		position: unset;
		padding: 15px 0 0 0;
	}
	.btn-pages {
		padding-top: 40px;
	}
	@media (max-width: 575px) {
		.btn-pages {
			padding-top: 15px;
		}
	}
}
.box-subscribe {
	padding: 40px 0;
	p {
		font-size: 20px;
	}
	@media (max-width: 767px) {
		padding: 20px 0;
		text-align: center;
		p {
			text-align: center;
			padding: 15px 0;
		}
	}
}
.frm-sub {
	position: relative;
	.inp_field {
		width: 100%;
	    height: 38px;
	    border: 2px solid #cdcdcd;
	    border-radius: 8px;
	    padding: 0 15px;
	}
	.btn-sub {
		height: 36px;
	    border-radius: 8px;
	    border: 0;
	    background: $yellow;
	    color: #fff;
	    width: 140px;
	    position: absolute;
	    top: 1px;
	    right: 1px;
	    cursor: pointer;
	}
}