*{margin: 0; padding: 0}
@import "fonts.scss";
$font: 'FontAwesome'; 
$black: #000000;
$yellow: #ff7f15;
$red :#fb0404;
html {
    overflow-x: hidden;
}
body {
    box-sizing: border-box;
    color: #484848;
    padding: 0 !important;  
    font-size: 16px;  
    line-height: 1.7;
    transition: .3s all; 
    position: relative;
    font-weight: normal;
    font-family: 'Montserrat';
    background: #fff;
    color: #000000;
    overflow-x: hidden;
    &.active {
        overflow: hidden;
    }
    h1, h2, h3, h4, h5, h6, p, label, ul, li, .card, a { 
        text-decoration: none !important;        
        transition: .3s all;  
        margin-bottom: 0;  
        outline: none !important;    
    }    
    a { 
        transition: .3s all !important; 
        color: #000000;   
        &:hover {
            color: $yellow;       
        }  
    } 
    ul {    
    	padding: 0;   
    	margin: 0;  
    }   
    input, button {    
    	outline: none !important; 
    	box-shadow: none; 
    	transition: .3s all; 
    }
    .slick-slide {
    	height: auto;  
        img {
            display: inline;
        }
    }
    .container {
        width: 100%;
        max-width: 1200px;
    } 
    img {
        max-width: 100%;
    }
    .slick-slider {
        margin-bottom: 0;
    }
    @media (max-width: 1023px) {
        font-size: 14px;
    }
}
section {
    position: relative;
}

.slick-dots {
    bottom: 20px;
    button {
        display: none !important;
    }
    li {
        width: 12px;
        height: 12px;
        background: #fff;
        border-radius: 100%;
        &.slick-active {
            background: $yellow;
        }
    }
}

footer {
    color: #fff;
    padding: 40px 0;
    font-size: 14px;
    .copyright {
        padding-top: 40px;
    }
    @media (max-width: 767px) {
        .maps-ft {
            text-align: left;
        }
    }
}
.slogan-ft {
    h2 {
        font-size: 23px;
        font-weight: bold;
        position: relative;
        text-align: right;
        width: max-content;
        line-height: 1.6;
        padding-left: 20px;
        border-left: 3px solid $yellow;
        margin-bottom: 30px;
        span {
            color: $yellow;
        }
    }
    ul {
        list-style: none;
        li {
            margin-bottom: 15px;
            position: relative;
            padding-left: 35px;
            &:last-child {
                margin-bottom: 0;
            }
            img {
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
    @media (max-width: 1023px) {
        h2 {
            padding-left: 0;
            border-left: 0;
            width: unset;
            text-align: left;
            br {
                display: none;
            }
        }
    }
    @media (max-width: 767px) {
        h2 {
            font-size: 16px;
            margin-bottom: 15px;
            br {
                display: block;
            }
        }
    }
}
.title-ft {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    padding-top: 30px;
    @media (max-width: 767px) {
        font-size: 18px;
        margin-bottom: 15px;
        text-align: left;
    }
}
.link-ft {
    ul {
        list-style: none;
        li {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    a {
        color: #fff 
    }
}