* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/mont/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/mont/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/mont/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/mont/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/mont/Montserrat-Regular.woff2") format("woff2"), url("../fonts/mont/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/mont/Montserrat-Light.woff2") format("woff2"), url("../fonts/mont/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/mont/Montserrat-Medium.woff2") format("woff2"), url("../fonts/mont/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/mont/Montserrat-LightItalic.woff2") format("woff2"), url("../fonts/mont/Montserrat-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/mont/Montserrat-Thin.woff2") format("woff2"), url("../fonts/mont/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/mont/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/mont/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/mont/Montserrat-Black.woff2") format("woff2"), url("../fonts/mont/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/mont/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../fonts/mont/Montserrat-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/mont/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/mont/Montserrat-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/mont/Montserrat-BoldItalic.woff2") format("woff2"), url("../fonts/mont/Montserrat-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/mont/Montserrat-Bold.woff2") format("woff2"), url("../fonts/mont/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/mont/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/mont/Montserrat-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/mont/Montserrat-BlackItalic.woff2") format("woff2"), url("../fonts/mont/Montserrat-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/mont/Montserrat-Italic.woff2") format("woff2"), url("../fonts/mont/Montserrat-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/mont/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/mont/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/mont/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../fonts/mont/Montserrat-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap; }
html {
  overflow-x: hidden; }

body {
  box-sizing: border-box;
  color: #484848;
  padding: 0 !important;
  font-size: 16px;
  line-height: 1.7;
  transition: .3s all;
  position: relative;
  font-weight: normal;
  font-family: 'Montserrat';
  background: #fff;
  color: #000000;
  overflow-x: hidden; }
  body.active {
    overflow: hidden; }
  body h1, body h2, body h3, body h4, body h5, body h6, body p, body label, body ul, body li, body .card, body a {
    text-decoration: none !important;
    transition: .3s all;
    margin-bottom: 0;
    outline: none !important; }
  body a {
    transition: .3s all !important;
    color: #000000; }
    body a:hover {
      color: #ff7f15; }
  body ul {
    padding: 0;
    margin: 0; }
  body input, body button {
    outline: none !important;
    box-shadow: none;
    transition: .3s all; }
  body .slick-slide {
    height: auto; }
    body .slick-slide img {
      display: inline; }
  body .container {
    width: 100%;
    max-width: 1200px; }
  body img {
    max-width: 100%; }
  body .slick-slider {
    margin-bottom: 0; }
  @media (max-width: 1023px) {
    body {
      font-size: 14px; } }

section {
  position: relative; }

.slick-dots {
  bottom: 20px; }
  .slick-dots button {
    display: none !important; }
  .slick-dots li {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 100%; }
    .slick-dots li.slick-active {
      background: #ff7f15; }

footer {
  color: #fff;
  padding: 40px 0;
  font-size: 14px; }
  footer .copyright {
    padding-top: 40px; }
  @media (max-width: 767px) {
    footer .maps-ft {
      text-align: left; } }

.slogan-ft h2 {
  font-size: 23px;
  font-weight: bold;
  position: relative;
  text-align: right;
  width: max-content;
  line-height: 1.6;
  padding-left: 20px;
  border-left: 3px solid #ff7f15;
  margin-bottom: 30px; }
  .slogan-ft h2 span {
    color: #ff7f15; }
.slogan-ft ul {
  list-style: none; }
  .slogan-ft ul li {
    margin-bottom: 15px;
    position: relative;
    padding-left: 35px; }
    .slogan-ft ul li:last-child {
      margin-bottom: 0; }
    .slogan-ft ul li img {
      position: absolute;
      left: 0;
      top: 0; }
@media (max-width: 1023px) {
  .slogan-ft h2 {
    padding-left: 0;
    border-left: 0;
    width: unset;
    text-align: left; }
    .slogan-ft h2 br {
      display: none; } }
@media (max-width: 767px) {
  .slogan-ft h2 {
    font-size: 16px;
    margin-bottom: 15px; }
    .slogan-ft h2 br {
      display: block; } }

.title-ft {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  padding-top: 30px; }
  @media (max-width: 767px) {
    .title-ft {
      font-size: 18px;
      margin-bottom: 15px;
      text-align: left; } }

.link-ft ul {
  list-style: none; }
  .link-ft ul li {
    margin-bottom: 15px; }
    .link-ft ul li:last-child {
      margin-bottom: 0; }
.link-ft a {
  color: #fff; }

header {
  padding: 15px 0; }

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header-top ul {
    list-style: none; }
  .header-top .logo {
    margin-right: 20px;
    flex: 0 0 220px; }
  .header-top .head-right {
    flex: 0 0 calc(100% - 240px); }

.h-menu {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .h-menu ul {
    display: flex;
    text-transform: uppercase; }
    .h-menu ul li {
      padding-right: 35px; }
      .h-menu ul li:last-child {
        padding-right: 0; }
  .h-menu a {
    position: relative; }
    .h-menu a:after {
      content: "";
      width: 100%;
      height: 1px;
      background: #409dca;
      position: absolute;
      left: 0;
      top: -5px;
      transition: .3s all !important;
      transform: scale(0); }
    .h-menu a:before {
      content: "";
      width: 100%;
      height: 1px;
      background: #409dca;
      position: absolute;
      left: 0;
      bottom: -5px;
      transition: .3s all !important;
      transform: scale(0); }
    .h-menu a:hover:after, .h-menu a:hover:before {
      transform: scale(1); }
  .h-menu .current-menu-item a:after, .h-menu .current-menu-item a:before, .h-menu .active a:after, .h-menu .active a:before {
    transform: scale(1); }
  @media (max-width: 1199px) {
    .h-menu {
      font-size: 14px; } }
  @media (max-width: 1100px) {
    .h-menu ul li {
      padding-right: 20px; } }

.h-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 10px; }
  .h-top .left {
    font-style: italic; }
  .h-top .hotline {
    display: flex;
    line-height: 1.3; }
    .h-top .hotline .phone-line {
      color: #fb0404;
      padding-left: 8px;
      font-style: italic; }

.box-search {
  position: relative;
  padding-left: 30px; }
  .box-search input {
    background: #ff7f15;
    border: 0;
    height: 36px;
    padding: 0 10px;
    width: 200px;
    border-radius: 6px;
    color: #fff; }
    .box-search input::placeholder {
      color: #fff; }
  .box-search button {
    position: absolute;
    opacity: 0; }

nav#menu {
  z-index: 1001;
  display: none; }

nav#menu.mm-menu_opened {
  display: block; }

.mm-listitem input {
  width: 100%;
  height: 36px;
  border: 1px solid #ff7f15;
  font-size: 13px;
  padding: 0 45px 0 10px; }
.mm-listitem button {
  background: #ff7f15;
  color: #fff;
  border: 0;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 0;
  right: 0; }

@media (max-width: 1023px) {
  header {
    padding: 10px 0; }

  .header-pc {
    display: none; }

  .header-mobile {
    display: block !important; }
    .header-mobile .logo img {
      max-height: 60px; }

  .btn-menu a {
    color: #ff7f15;
    font-size: 23px; } }
@media (max-width: 767px) {
  header {
    padding: 5px 0; }

  .header-mobile .logo img {
    max-height: 45px; } }
.title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 55px; }
  .title h2 {
    font-size: 25px;
    line-height: initial;
    font-weight: bold; }
  .title span {
    position: relative;
    display: inline-block; }
    .title span:after {
      content: "";
      width: 135px;
      height: 1px;
      background: #409dca;
      position: absolute;
      right: 30px;
      bottom: -15px; }
    .title span:before {
      content: "";
      width: 100px;
      height: 1px;
      background: #409dca;
      position: absolute;
      right: 30px;
      bottom: -25px; }
    .title span.t-video {
      color: #fff; }
      .title span.t-video:after, .title span.t-video:before {
        right: 0;
        background: #ff7f15; }
  @media (max-width: 767px) {
    .title {
      margin-bottom: 15px; }
      .title h2 {
        font-size: 20px; }
      .title span:after, .title span:before {
        display: none; } }

.btn-pages a {
  display: inline-flex;
  height: 38px;
  padding: 0 25px;
  background: #ff7f15;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #ff7f15;
  color: #fff;
  box-shadow: -1px 2px 8px #706d6d; }
  .btn-pages a:hover {
    color: #ff7f15;
    background: #fff; }

.box-about {
  padding: 40px 0; }

.txt-about .desc {
  line-height: 2.4; }
@media (max-width: 1023px) {
  .txt-about {
    margin-bottom: 30px; }
    .txt-about .desc {
      line-height: 1.5; } }
@media (max-width: 767px) and (min-width: 576px) {
  .txt-about {
    margin-bottom: 0; } }

.info-txt {
  padding: 25px 15px; }
  .info-txt ul {
    list-style: none;
    position: relative;
    padding-left: 25px; }
    .info-txt ul:after {
      content: "";
      width: 10px;
      height: 100%;
      background: #ff7f15;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 200px; }
    .info-txt ul li {
      margin-bottom: 8px; }
      .info-txt ul li:last-child {
        margin-bottom: 0; }
      .info-txt ul li span {
        color: #fb0404; }
  @media (max-width: 767px) {
    .info-txt .info-txt {
      padding: 15px 0; } }

.box-srv {
  padding: 40px 0;
  color: #fff; }

.item-srv .icon {
  margin-bottom: 25px; }
  .item-srv .icon img {
    max-height: 110px; }
.item-srv .info h2 {
  font-size: 25px;
  font-weight: bold;
  line-height: initial;
  margin-bottom: 10px; }
@media (max-width: 1023px) {
  .item-srv .icon img {
    max-height: 80px; }
  .item-srv .info h2 {
    font-size: 18px; } }
@media (max-width: 767px) {
  .item-srv .icon img {
    max-height: 60px; }
  .item-srv .info h2 {
    font-size: 16px; } }
@media (max-width: 575px) {
  .item-srv {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px; } }

.list-srv .row {
  margin: 0 -25px; }
  .list-srv .row > div {
    padding: 0 25px; }
@media (max-width: 1023px) {
  .list-srv .row {
    margin: 0 -7px; }
    .list-srv .row > div {
      padding: 0 7px; } }
@media (max-width: 575px) {
  .list-srv .row > div {
    margin-bottom: 15px; }
    .list-srv .row > div:last-child {
      margin-bottom: 0; } }

.box-product {
  padding: 40px 0; }

.item-prd .avarta {
  overflow: hidden;
  border-radius: 10px; }
  .item-prd .avarta img {
    width: 100%;
    transition: .5s all !important; }
    .item-prd .avarta img:hover {
      transform: scale(1.06); }
.item-prd .info {
  padding: 10px 0 0 0;
  font-weight: bolder; }
  .item-prd .info a {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px; }
  .item-prd .info span {
    color: #fb0404; }

.tab-content {
  display: none; }
  .tab-content.active {
    display: block; }

.list-prd .row {
  margin: 0 -25px; }
  .list-prd .row > div {
    padding: 0 25px; }
.list-prd .col-md-3 {
  margin-bottom: 30px; }
@media (max-width: 1023px) {
  .list-prd .row {
    margin: 0 -7px; }
    .list-prd .row > div {
      padding: 0 7px; } }
@media (max-width: 767px) {
  .list-prd .col-md-3 {
    margin-bottom: 15px; } }

.list-tab-prd {
  margin-bottom: 30px; }
  .list-tab-prd ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; }
    .list-tab-prd ul li {
      padding: 0 10px; }
  .list-tab-prd a {
    color: #484848;
    display: inline-flex;
    height: 36px;
    border-radius: 10px;
    border: 1px solid #484848;
    align-items: center;
    padding: 0 15px;
    font-weight: bold; }
    .list-tab-prd a.active {
      border: 1px solid #ff7f15;
      background: #ff7f15;
      color: #fff; }
  @media (max-width: 767px) {
    .list-tab-prd ul li {
      padding: 0 5px; }
    .list-tab-prd a {
      padding: 0 5px;
      font-weight: normal; } }

.item-service {
  margin-bottom: 20px;
  font-size: 22px; }
  .item-service:last-child {
    margin-bottom: 0; }
  .item-service h3 {
    line-height: initial;
    font-weight: bold;
    color: #ff7f15;
    font-size: 22px; }
  .item-service .desc {
    padding: 20px 0 35px 0; }
  .item-service:nth-child(2n) .col-md-6:first-child {
    order: 2; }
  .item-service:nth-child(2n) .col-md-6:last-child {
    order: 1; }
  @media (max-width: 1023px) {
    .item-service {
      font-size: 16px; }
      .item-service h3 {
        font-size: 16px; }
      .item-service .desc {
        padding: 15px 0; } }
  @media (max-width: 767px) {
    .item-service {
      font-size: 14px; }
      .item-service h3 {
        font-size: 14px; } }
  @media (max-width: 575px) {
    .item-service {
      margin-bottom: 30px; }
      .item-service .avar-serv {
        margin-top: 15px; }
      .item-service:nth-child(2n) .col-md-6:first-child {
        order: 1; }
      .item-service:nth-child(2n) .col-md-6:last-child {
        order: 2; } }

.box-serice {
  padding: 0 0 40px 0; }

.item-new-home {
  overflow: hidden;
  background: #fff;
  border-radius: 10px; }
  .item-new-home:hover .info {
    background: #ff7f15;
    color: #fff; }
    .item-new-home:hover .info a {
      color: #fff; }
  .item-new-home:hover .avarta img {
    transform: scale(1.05); }
  .item-new-home .row {
    margin: 0 -0.5px; }
    .item-new-home .row > div {
      padding: 0 0.5px; }
  .item-new-home:nth-child(2n + 1) .col-md-6:first-child {
    order: 2; }
  .item-new-home:nth-child(2n + 1) .col-md-6:last-child {
    order: 1; }
  .item-new-home .info {
    padding: 15px;
    border-radius: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0efef; }
    .item-new-home .info a {
      font-size: 16px;
      display: block;
      margin-bottom: 10px;
      font-weight: bold; }
  .item-new-home .avarta {
    border-radius: 10px;
    overflow: hidden; }
    .item-new-home .avarta img {
      transition: .4s all !important; }
  @media (max-width: 767px) {
    .item-new-home .desc {
      display: none; } }
  @media (max-width: 575px) {
    .item-new-home {
      margin-bottom: 15px; }
      .item-new-home:nth-child(2n + 1) .col-md-6:first-child {
        order: 1; }
      .item-new-home:nth-child(2n + 1) .col-md-6:last-child {
        order: 2; }
      .item-new-home:last-child {
        margin-bottom: 0; }
      .item-new-home .info {
        background: transparent !important;
        padding: 0 0 0 10px; }
        .item-new-home .info a {
          text-align: left;
          color: #000000;
          font-weight: 500;
          font-size: 14px;
          line-height: 1.5;
          margin: 0; } }

.box-new-home {
  padding: 40px 0; }
  .box-new-home .btn-pages {
    padding: 40px 0 0 0; }
  @media (max-width: 575px) {
    .box-new-home .btn-pages {
      padding: 15px 0 0 0; } }

.slide-video-home {
  margin: 0 -25px; }
  .slide-video-home .item-slide {
    padding: 0 25px; }
  @media (max-width: 1023px) {
    .slide-video-home {
      margin: 0 -7px; }
      .slide-video-home .item-slide {
        padding: 0 7px; } }

.item-video .avarta {
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center; }
.item-video iframe {
  width: 100%;
  height: 292px; }
.item-video .info {
  padding: 10px 0 0 0; }
  .item-video .info a {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #fff; }
@media (max-width: 1023px) {
  .item-video .avarta iframe {
    height: 180px; } }

.box-video {
  padding: 40px 0;
  background: #212121; }
  .box-video .slick-dots {
    position: unset;
    padding: 15px 0 0 0; }
  .box-video .btn-pages {
    padding-top: 40px; }
  @media (max-width: 575px) {
    .box-video .btn-pages {
      padding-top: 15px; } }

.box-subscribe {
  padding: 40px 0; }
  .box-subscribe p {
    font-size: 20px; }
  @media (max-width: 767px) {
    .box-subscribe {
      padding: 20px 0;
      text-align: center; }
      .box-subscribe p {
        text-align: center;
        padding: 15px 0; } }

.frm-sub {
  position: relative; }
  .frm-sub .inp_field {
    width: 100%;
    height: 38px;
    border: 2px solid #cdcdcd;
    border-radius: 8px;
    padding: 0 15px; }
  .frm-sub .btn-sub {
    height: 36px;
    border-radius: 8px;
    border: 0;
    background: #ff7f15;
    color: #fff;
    width: 140px;
    position: absolute;
    top: 1px;
    right: 1px;
    cursor: pointer; }

/*# sourceMappingURL=style.css.map */
